h1{
    text-align: center;
}

h3{
    margin: 5px;
}

.building {
    display: grid;
    grid-template-columns: 50px 300px 50px 300px;
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;
    align-items: center;
    width: 50%;
    border: 1px solid grey;
    margin: 5px auto;
  }
  
  .building-icon {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    margin: 5px;
  }
  
  .building-info {
    grid-row: span 1;
    grid-column: span 1;
    font-weight: bold;
  }

  /* Start date */
  .start-date-icon {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
  
  .start-date {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
  }

  /* End date */
  .end-date-icon {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
  }
  
  .end-date {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
  }

  /* Address */
  .address-icon {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
  
  .address {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

 /* Contractor */
 .contractor-icon {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
  }
  
  .contractor {
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
  }

 /* Div Container */ 
  .workers-div{
    grid-row: 3 / span 1;
    grid-column: 1 / span 4;
  }

  .equipment-div{
    grid-row: 4 / span 1;
    grid-column: 1 / span 4;
  }

  .material-div{
    grid-row: 5 / span 1;
    grid-column: 1 / span 4;
  }

 /* Table */ 
  .table{
    margin: 5px;
    width: 95%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  .table th {
    background-color: grey;
    color: white;
    padding: 10px;
    text-align: left;
  }
  
  .table td {
    padding: 10px; 
  }
